/*  ------------------------------------------
 *  Generic stuff
 *  ------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background: #e8e8e1;
    color: #252525;
    font-family: 'Inconsolata', monospace;
    margin: 0px;
}

a {
    text-decoration: none;
}

#show-sidebar-text {
    display: none;
    float: right;
}

.minor-contrast {
    color: #7e7e7e;
}

.minimum-contrast {
    color: #e0e0e0;
}

container {
    display: block;
    margin-top: 5em;
}

.persistent-header h0 a {
    font-size: 100%;
    color: #990000;
}

/* .persistent-header .entrypage-article-header-nav { */
.common-header-nav, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
}

.common-tags {
    padding-top: 3em;
}

/* ======================== */
/*    Responsive Design     */
/* ======================== */
@media (max-width: 50em) {
    .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
        margin-left: auto;
        margin-right: auto;
        max-width: 32em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .middle_section_wide, .published-on, footer {
        margin-left: 0 auto;
        margin-right: 0 auto;
        max-width: 45em;
    }
    /* .sidebar { */
    /*     float: left; */
    /*     max-width: 40em; */
    /*     padding: 1em 0em 1em 0em; */
    /*     line-height: 24px; */
    /*     font-size: 13px; */
    /* } */
    /* .sidebar ul { */
    /*     list-style: outside none none; */
    /*     float: right; */
    /* } */
    /* .sidebar li { */
    /*     float: left; */
    /*     position: relative; */
    /* } */
    /* .sidebar #search_wrapper_homepage { */
    /*     width: 30px; */
    /* } */

    /* #search-big { */
    /*     border: 0; */
    /*     visibility: hidden; */
    /*     height: 0px; */
    /* } */

    /* #search-narrow { */
    /*     border: 0; */
    /*     visibility: visible; */
    /*     height: 6em; */
    /* } */

    .sidebar, .menu-espanso {
        display: none;
    }
}
@media (min-width: 50em) {
    .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
        margin-left: auto;
        margin-right: auto;
        max-width: 40em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .middle_section_wide, .published-on, footer {
        margin-left: 0 auto;
        margin-right: 0 auto;
        max-width: 45em;
    }

    /* .sidebar { */
    /*     max-width: 20em; */
    /*     display: initial; */
    /*     line-height: 24px; */
    /*     position: relative; */
    /*     font-size: 13px; */
    /* } */

    /* #search-big { */
    /*     border: 0; */
    /*     visibility: hidden; */
    /*     height: 0px; */
    /* } */

    /* #search-narrow { */
    /*     border: 0; */
    /*     visibility: visible; */
    /*     height: 6em; */
    /* } */
}
@media (min-width: 57em) {
    .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
        margin-left: auto;
        margin-right: auto;
        max-width: 45em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .middle_section_wide, .published-on, footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 45em;
    }

    /* .sidebar { */
    /*     max-width: 15em; */
    /*     display: initial; */
    /*     line-height: 24px; */
    /*     position: relative; */
    /*     font-size: 13px; */
    /* } */

    /* #search-big { */
    /*     border: 0; */
    /*     visibility: hidden; */
    /*     height: 0px; */
    /* } */

    /* #search-narrow { */
    /*     border: 0; */
    /*     visibility: visible; */
    /*     height: 6em; */
    /* } */
}
@media (min-width: 60em) {
    .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
        margin-left: auto;
        margin-right: auto;
        max-width: 50em;
    }

    .middle_section_wide, .published-on, footer {
        margin-left: 0 auto;
        margin-right: 0 auto;
        max-width: 60em;
    }

    /* .sidebar { */
    /*     max-width: 10em; */
    /*     display: initial; */
    /*     line-height: 24px; */
    /*     position: relative; */
    /*     font-size: 13px; */
    /* } */

    /* #search-big { */
    /*     border: 0; */
    /*     visibility: hidden; */
    /*     height: 0px; */
    /* } */

    /* #search-narrow { */
    /*     border: 0; */
    /*     visibility: visible; */
    /*     height: 6em; */
    /* } */
}
@media (min-width: 74em) print {
    .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
        margin-left: auto;
        margin-right: auto;
        max-width: 55em;
    }

    .middle_section_wide, .published-on, footer {
        margin-left: 0 auto;
        margin-right: 0 auto;
        max-width: 60em;
    }

    /* .sidebar { */
    /*     max-width: initial; */
    /*     display: initial; */
    /*     line-height: initial; */
    /*     position: initial; */
    /*     font-size: initial; */
    /* } */

    /* #search-big { */
    /*     border: 0; */
    /*     visibility: visible; */
    /*     height: 6em; */
    /* } */

    /* #search-narrow { */
    /*     border: 0; */
    /*     visibility: hidden; */
    /*     height: 0px; */
    /* } */
}

.common-header-nav, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    padding: 0.9em;
    clear: both;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    background: #f9f9f9;
    margin-bottom: 20px;
}

.common-orgsource {
    float: right;
    font-size: 120%;
    font-family: Verdana, Geneva, sans-serif;
}

.common-tags, .entry-page-article .entry-page-article-tags {
    margin-right: 20%;
    float: right;
    list-style: none outside none;
}
.common-tags li, .entry-page-article .entry-page-article-tags li {
    float: left;
    height: 30px;
    line-height: 24px;
    position: relative;
    font-size: 13px;
}
.common-tags ul, .entry-page-article .entry-page-article-tags ul {
    list-style-type: none;
}
.common-tags a, .entry-page-article .entry-page-article-tags a {
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 13px;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #869298;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.common-tags a:before, .entry-page-article .entry-page-article-tags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #869298 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}
.common-tags a:after, .entry-page-article .entry-page-article-tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}
.common-tags a:hover, .entry-page-article .entry-page-article-tags a:hover {
    background: #7e7e7e;
}
.common-tags a:hover:before, .entry-page-article .entry-page-article-tags a:hover:before {
    border-color: transparent #7e7e7e transparent transparent;
}

.tag-cloud .tagcloud-size-0 {
    font-size: 80%;
}
.tag-cloud .tagcloud-size-1 {
    font-size: 120%;
}
.tag-cloud .tagcloud-size-2 {
    font-size: 160%;
}
.tag-cloud .tagcloud-size-3 {
    font-size: 200%;
}
.tag-cloud .tagcloud-size-4 {
    font-size: 260%;
}
.tag-cloud .tagcloud-size-5 {
    font-size: 320%;
}
.tag-cloud .tagcloud-size-6 {
    font-size: 380%;
}
.tag-cloud ul {
    list-style-type: none;
    overflow: auto;
}
.tag-cloud a {
    float: left;
    position: relative;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    text-decoration: none;
}

.common-article, .entry-page-article {
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
}
.common-article tr:nth-child(even), .entry-page-article tr:nth-child(even) {
    background-color: #f9f9f9;
}
.common-article th, .entry-page-article th {
    background-color: #252525;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.common-article td, .entry-page-article td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.common-article-header-title {
    padding-bottom: 1em;
    padding-top: 4em;
    margin-left: 20%;
    margin-right: 20%;
}

.breadcrumbs {
    font-size: 120%;
    font-family: Verdana, Geneva, sans-serif;
}

.section-title {
    color: #252525;
    /* margin-left: 1em; */
}

.orgmode-hr {
    margin-top: 3em;
}

blockquote {
    background: #fff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
}
blockquote:before {
    content: '\201C';
    margin: 1em -0.15em 1em -0.15em;
    color: #e0e0e0;
    padding: 0.15em -0.5em -0.5em -0.5em;
    font-size: 60px;
    line-height: 12px;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
blockquote br {
    margin-bottom: 10px;
}

.example_code {
    width: auto;
    background-color: #fff;
    /* padding: 5px; */
    /* syntax highlight */
    /* border: 1px solid #e0e0e0; */
    font-size: 14px;
    font-family: "courier new";
}

/* Image positioning with CSS: */
/* https://www.w3schools.com/css/css_align.asp */
/* http://www.inmotionhosting.com/support/edu/website-design/insert-images-website/align-float-images-css */
.image-right {
    text-align: right;
}

.image-left {
    text-align: left;
}

.image-float-right {
    float: right;
}

.image-float-left {
    float: left;
}

.image-center {
    text-align: center;
    width: 100%;
}

figcaption {
    font-size: 80%;
    font-style: italic;
}

.email-comment {
    margin-left: auto;
    margin-right: auto;
    padding-top: 7em;
    text-align: center;
    color: #252525;
    font-size: 80%;
}

.published-on {
    font-size: 80%;
    color: gray;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.tag-pages-link-list .timestamp {
    color: #7e7e7e;
    font-size: 80%;
}

footer {
    padding: 0.1em;
    border-radius: 0.2em;
    background: #f9f9f9;
    text-align: center;
    color: gray;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 5em;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

#disqus_thread {
    margin-left: auto;
    margin-right: auto;
}

/*  ------------------------------------------
 *  Article
 *  ------------------------------------------ */
.entry-page-article {
    /*    padding-top: 3em;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 0.5em;
      margin-bottom: 1.5em;
      border-radius: 0.2em;
      box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
      background: white;*/
}
.entry-page-article .entry-page-article-tags {
    /*margin: -1.5em -1em 0px 0px;*/
}

/*  ------------------------------------------
 *  Permanent page
 *  ------------------------------------------ */
.persistent-body {
    margin-left: auto;
    margin-right: auto;
}
.persistent-body p {
    @extend .middle_section_narrow;
}
.persistent-body h1 {
    font-size: 105%;
    color: black;
}

.persistent-body h1 a {
    color: #ab7272;
}

.entry-page-article {
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-radius: 0.2em;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    background: white;
}
.entry-page-article .entry-page-article-tags {
    margin: -1.5em -1em 0px 0px;
}

/*  ------------------------------------------
 *  Back-references
 *  ------------------------------------------ */
.back-references {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
.back-references hr {
    border-color: #e0e0e0;
    color: #e0e0e0;
    border-style: solid;
    display: block;
    height: 2px;
}
.back-references p {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    font-size: 80%;
    color: #7e7e7e;
}
.back-references ul {
    list-style: none;
}
.back-references li:before {
    content: "\1F517\00A0";
    /* HEX UTF-8 character for a link followed by &nbsp; */
}

/*  ------------------------------------------
 *  Sidebars
 *  ------------------------------------------ */
.sidebar {
    float: right;
    width: 30em;
    padding: 6em 0em 0em 0em;
    /* top right bottom left */
    /* #search-big { */
    /*  visibility: visible; */
    /* } */
    /* #search-narrow { */
    /*  visibility: hidden; */
    /* } */
}

.sidebar a {
    color: #eeeded;
}
#top-tags {

}

.sidebar .top-tags-list {
    font-size: small;
}

.sidebar ul li {
    list-style-type: none;
    color: #d3c9c9;
    list-style-image: none;
    list-style-position: outside;
    margin-left: -2em;
    padding: 10px 0px 2px 0px;
}

.sidebar iframe {
    /* DuckDuckGo search bar */
    /* FIXXME: this does not have any effect */
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: .5em;
    padding-bottom: 0px;
}

.menu-espanso {
    background-color: transparent;
    position: fixed;
    width: 80px;
    height: 100px;
    top: 0px;
    right: 0px;
    overflow: hidden !important;
    z-index: 5;
    transition: all 0.550s ease-in
}

.menu-espanso.expand {
    width: 340px;
    height: 100%;
    top: 0px;
    right: 0px;
    overflow: hidden !important;
    transition: unset;
}

.menu,
.linee {
    cursor: pointer;
}

.menu-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background-color: #176069;
    border: none;
    transition: all 0.40s ease-out;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.menu {
    position: absolute;
    right: 0;
    margin: 20px 15px 0 0;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition: all 0.40s ease-out;
}

.over {
    width: 4000px;
    height: 4000px;
    transition: all 0.350s ease-in;
    cursor: default;
}

.linea1 {
    background: #fff;
    height: 2px;
    width: 15px;
    position: absolute;
    right: 31px;
    top: 40px;
    transition: all 0.3s;
}

.linea2 {
    background: #fff;
    height: 2px;
    width: 15px;
    position: absolute;
    right: 31px;
    top: 45px;
    opacity: 1;
    transition: opacity 0.5s;
}

.linea3 {
    background: #fff;
    height: 2px;
    width: 15px;
    position: absolute;
    right: 31px;
    top: 50px;
}

.overL1 {
    animation: closetop 1s forwards;
    animation-direction: alternate;
    cursor: pointer;
}

.overL2 {
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}

.overL3 {
    animation: closebottom 1s forwards;
    animation-direction: alternate;
    cursor: pointer;
}

.menu-closer {
    position: absolute;
    right: 0;
    margin: 20px 15px 0 0;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}

@keyframes closetop {
    0% {
        transform: translateY(5px) rotate(0deg);
    }
    25% {
        transform: translateY(5px) rotate(0deg);
    }
    75% {
        transform: translateY(5px) rotate(-45deg);
    }
    100% {
        transform: translateY(5px) rotate(-45deg);
    }
}

@keyframes closebottom {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateY(-5px) rotate(0deg);
    }
    75% {
        transform: translateY(-5px) rotate(45deg);
    }
    100% {
        transform: translateY(-5px) rotate(45deg);
    }
}

.voci-menu {
    visibility: hidden;
    position: absolute;
    /* right: 50px; */
    /* top: 160px; */
    opacity: 0;
    transition: all 0.300s;
    transition-delay: 0s;
}

.overvoci {
    visibility: visible;
    opacity: 1;
    transition: all 0.400s;
    transition-delay: 0.370s;
}

.voci-menu ul {
    list-style-type: none;
}

.voci-menu ul li {
    /* margin: 20px 0px; */
}

/* .voci-menu ul li a { */
/*     float: right; */
/*     text-decoration: none; */
/*     color: transparent; */
/*     background-color: #DB0024; */
/*     margin-top: 20px; */
/* } */

.voci-menu ul li a:hover {
    opacity: 0.7;
}

.footer {
    position: relative;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    background: #5F5F5F;
    width: 100%;
    height: 150px;
}

.footer div {
    width: 200px;
    text-align: center;
}

.footer div ul {
    list-style-type: none;
}

.footer div ul li span {
    text-align: center;
    text-decoration: none;
    color: transparent;
    background-color: #999;
    margin-top: 10px;
    display: inline-block;
}

body.mode-search {
    overflow: hidden;
}
body.mode-search .form,
body.mode-search .icon-close {
    opacity: 1;
    transform: none;
    pointer-events: all;
}
body.mode-search .control .icon-search {
    opacity: 0;
}
body.mode-search .control .btn {
    transform: scale(70);
}

.header {
    position: relative;
    height: 50%;
    width: 100%;
    background: #22313F;
    color: #FFF;
}
.header .header-content {
    padding: 70px 50px;
}
.header .header-content h1, .header .header-content h2 {
    font-weight: 200;
}

.example_code pre {
    white-space: normal;
    padding: 15px 0;
}

.example_code pre code {
    white-space: pre;
}

.common-article-tag-page {
    padding-top: 4em;
}

.tag-cloud {
    padding-top: 1em;
}